{% load i18n sizeformat %}

<h3>{% trans "Overview" %}</h3>

<div class="info row detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ registry.name }}</dd>
    <!--<dt>{% trans "ID" %}</dt>
    <dd>{{ registry.id }}</dd>-->
    <dt>{% trans "Version" %}</dt>
    <dd>{{ registry.version }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ registry.description }}</dd>
    <dt>{% trans "Category" %}</dt>
    <dd>{{ registry.category }}</dd>
  </dl>
</div>

<div class="methods row detail">
  <h4>{% trans "Service Methods" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    {% for method in registry.methods %}
    <dt>{{ method.name }}</dt>
    <dd>{{ method.description }}</dd>
    {% for param in method.params %}
    <dd>- {{ param.name }} ({{param.type}})</dd>
    {% endfor %}
    {% endfor %}
  </dl>
</div>
